#!/usr/bin/env ruby

gem 'sass'
require 'sass'

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/styles/style.sass' do
  filter :sass
  filter :relativize_paths, type: :css
  write @item.identifier.without_ext + '.css'
end

compile '/styles/*.sass' do
  # don't filter or layout
end

compile '/**/*.haml' do
  filter :haml
  layout '/home.haml'
  layout '/default.haml'
end

layout '/*.haml', :haml, format: :html5

passthrough '/images/**/*'
passthrough '/js/**/*'
passthrough '/contact.php'

route '/index.haml' do
  '/index.html'
end

route '/pages/*.haml' do
  item.identifier.without_ext + '.html'
end

route '/contact.php' do
	item.identifier
end

# route '*' do
#   if item.binary?
#     # Write item with identifier /foo/ to /foo.ext
#     item.identifier.chop + '.' + item[:extension]
#   else
#     # Write item with identifier /foo/ to /foo/index.html
#     item.identifier + 'index.html'
#   end
# end
