--- 
title: IT-Consulting - Ruby on Rails - Web- und Anwendungsentwicklung
author: Mathias Karstädt
description: This is the homepage
---

%article
	%section
		%h1 Wer bin ich?
		%p 
			Mein Name ist 
			%strong Mathias Karstädt 
			und ich bin ein 
			%strong erfahrener IT-Consultant und Web-Entwickler
			aus 
			%strong Hamburg. 
		%p 
			Mit mir zu arbeiten bedeutet, auf über 
			%strong 10 Jahre professionelle Erfahrung 
			in 
			%strong Konzeptionierung, Umsetzung und Implementierung von Software
			sowie 
			%strong Design und Programmierung von Webanwendungen 
			zurückgreifen zu können.
		.more<
			%a(href="/pages/portfolio.html")<> Sehen Sie sich einige meiner Arbeiten an!
			.arrowright<>
	%figure(class="portrait")
		%img(src="/images/matze-neu-small.jpg" alt="Mathias Karstädt - Ruby on Rails Freelancer" width="180" height="270")>
		%figcaption> Mathias Karstädt
	
	%section(class="full")
		%h2 Was biete ich?
		%p 
			Langjährige 
			%strong Expertise in Ruby on Rails
			, welche ich als Anwendungsentwickler und IT-Consultant in bekannten Startups und spannenden Projekten erlangt habe.
		%p 
			Außerdem bekommen Sie ausgezeichnete Fähigkeiten in der Entwicklung von 
			%strong modernen, geräteübergreifenden Webanwendungen. 
			%strong HTML5, CSS3 und JavaScript
			verbinde ich zu einer 
			%strong standardkonformen, auflösungsunabhängigen und funktionierenden Einheit.
		.more<>
			%a(href="/pages/angebot.html")<> Finden Sie mehr darüber heraus, wie ich ihnen helfen kann!
			.arrowright<>
