// SASS Mixins and Variables

@mixin transform($transformation)
	-moz-transform: $transformation
	-webkit-transform: $transformation
	-o-transform: $transformation
	-ms-transform: $transformation
	transform: $transformation
	
@mixin box-shadow($xoff, $yoff, $blur, $color)
	-webkit-box-shadow: $xoff $yoff $blur $color
	-moz-box-shadow: $xoff $yoff $blur $color
	-o-box-shadow: $xoff $yoff $blur $color
	-ms-box-shadow: $xoff $yoff $blur $color
	box-shadow: $xoff $yoff $blur $color
	
@mixin transition($property, $duration)
	-webkit-transition-property: $property
	-moz-transition-property: $property
	-o-transition-property: $property
	transition-property: $property
	-webkit-transition-duration: $duration
	-moz-transition-duration: $duration
	-o-transition-duration: $duration
	transition-duration: $duration
	
$highlightcolor: red 
//rgb(241, 101, 41)

// ==========================================================================
// Primary styles
// Author: Mathias Karstädt
// ==========================================================================

body
	font: 16px/26px Helvetica, Helvetica Neue, Arial
	background-color: #fff
	background-image: url(../images/goovepaper.png)

.wrapper
	width: 90%
	margin: 0 5%
	

// ===================
// ALL: Orange Theme
// ===================
		
#header-container
	border-bottom: 6px solid $highlightcolor
	margin-bottom: 6px

#last-container
	border-top: 6px solid $highlightcolor
	margin-top: 6px


#teaser-container,
#footer-container
	background-color: #3C3C3C
	background-image: url(../images/darkdenim3.png)

#header-container header
	position: relative


#main
	article aside
		border-top:  2px solid $highlightcolor
		border-bottom:  2px solid $highlightcolor
		background-color: #fff
		background-image: url(../images/white_plaster.png)

#title
	a
		text-decoration: none
		color: black
	strong,
	span 
		font-size: 1.5em
		line-height: 1.5em
	strong
		color: $highlightcolor
	small
		font-size: .8em

#contactform
	ol
		list-style: none outside none
	input.text,
	textarea
		width: 100%
		margin-bottom: 10px
		
::-moz-selection
	background: $highlightcolor
	color: #fff
	text-shadow: none
::selection
	background: $highlightcolor
	color: #fff
	text-shadow: none

// ==============
// MOBILE: Menu
// ==============

header 
	nav a
		display: inline
		float: left
		margin-bottom: 8px
		margin-right: 8px
		padding: 2px
		color: black
		text-align: center
		text-decoration: none
		font-weight: bold

	nav a:hover, nav a:visited
		color: black

	nav a:hover
		text-decoration: underline

footer
	nav, address
		a, a:visited
			color: white
			text-decoration: none
		a:hover
			color: $highlightcolor
		
// ==============
// MOBILE: Main
// ==============

#main
	padding: 30px 0

	article 
		h1
			font-size: 1.5em
			line-height: 1.5em
	
		h2
			font-size: 1.4em
			line-height: 1.4em
	
		aside
			color: #000
			padding: 0px 5% 10px

		figure
			margin: 10px auto
			width: 200px
			border: 1px solid rgba(0,0,0,.2)
			background-color: #fff

		figure img 
			width: 180px
			margin: 10px 10px 0px 10px

		figure figcaption
			padding: 10px
			font-size: .8em
			line-height: .8em

		header p
			font-weight: bold

		footer p
			font-size: .8em
			line-height: .8em

	section .more a
		padding: 6px 10px
		text-decoration: none
		background-color: rgba(0,0,0,.1)
		border-radius: 10px
		color: $highlightcolor

	section .more a:hover
		text-shadow: black 1px 1px 0px

#teaser-container header,
#footer-container footer
	color: white
	padding: 20px 0
	font-size: 1em
	line-height: 1.4em

#footer-container footer
	font-size: .8em
	a, a:visited
		text-decoration: underline

#teaser-container header #contactme
	color: $highlightcolor

#main.wrapper article section
	.error-message
		color: red
		border: 1px solid red
		background-color: rgba(255,0,0,.2)
		padding: 10px
		h2
			font-size: 1em
			font-weight: bold
			line-height: 1.5em
			margin: 0


// ===============
// ALL: IE Fixes
// ===============

.ie7 #title
	padding-top: 20px



// =============================================================================
// Non-semantic helper classes
// Please define your styles before this section.
// ==========================================================================

// For image replacement
.ir
	display: block
	text-indent: -999em
	overflow: hidden
	background-repeat: no-repeat
	text-align: left
	direction: ltr
.ir br
	display: none

// Hide for both screenreaders and browsers:
// css-discuss.incutio.com/wiki/Screenreader_Visibility
.hidden
	display: none
	visibility: hidden

// Hide only visually, but have it available for screenreaders: by Jon Neal.
// www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden
.visuallyhidden
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus
	clip: auto
	height: auto
	margin: 0
	overflow: visible
	position: static
	width: auto

// Hide visually and from screenreaders, but maintain layout
.invisible
	visibility: hidden

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/ 
.clearfix:before,
.clearfix:after
	content: ""
	display: table
.clearfix:after
	clear: both
.clearfix
	zoom: 1


// ==|== media queries ======================================================

@media only screen and (min-width: 480px)

	// ====================
	// INTERMEDIATE: Menu
	// ====================
	
	header 
		nav a
			float: left
			width: 18%
			margin: 0 2%
			padding: 2px 2%
			margin-bottom: 0
	
		nav li:first-child a
			margin-left: 0
		nav li:last-child  a
			margin-right: 0
	
		// ========================
		// INTERMEDIATE: IE Fixes
		// ========================

		nav ul li
			display: inline

	.oldie nav a
		margin: 0 0.7%

	#teaser-container header
		font-size: 1.2em
		line-height: 1.5em
		
	#footer-container footer
		font-size: .8em
		.left,
		.middle,
		.right
			float: left
			width: 32%
		h3
			margin-top: 0px

@media only screen and (min-width: 850px)

	// ====================
	// WIDE: CSS3 Effects
	// ====================

	#main article aside
		@include box-shadow(0, 5px, 10px, #aaa)

	// ============
	// WIDE: Menu
	// ============
	
	#title
		float: left
		font-size: 1.5em
		padding: 15px 0px

		small
			font-size: .8em

	header 
		nav
			position: absolute
			top: 0px
			right: 0px
			width: 470px

		nav a,
		nav a:visited
			text-decoration: none
			background: none
			border-radius: 10px
			color: rgba(0,0,0,1)
			float: left
			width: 110px
			margin: 0 0 0 10px
			padding: 2px 0
			margin-top: 23px

		nav a:hover
			text-decoration: none
			background-color: rgba(0,0,0,.1)
			color: $highlightcolor
			text-shadow: rgba(0,0,0,1) 1px 1px 0px
		
		nav a
			@include transition(background-color, 1s)

	// ============
	// WIDE: Main
	// ============

	#main 
		article 
			header,
			section,
			footer
				float: left
				width: 57%
	
			section.full
				width: 100%
		
			aside
				float: right
				width: 28%
				margin-bottom: 26px

			figure
				float: right
				margin-right: 50px
				margin-top: -50px
				box-shadow: rgba(0,0,0,.2) 2px 2px 5px
				@include transform(rotate(4deg))

	#teaser-container header
		font-size: 1.4em
		line-height: 1.5em

	#footer-container footer
		font-size: 1em

@media only screen and (min-width: 1140px)

	// ===============
	// Maximal Width
	// ===============

	.wrapper
		width: 1026px
		margin: 0 auto
