/* =============================================================================
   Primary styles
   Author: Mathias Karstädt
   ========================================================================== */

body{ 
	font:16px/26px Helvetica, Helvetica Neue, Arial; 
	background-color: #fff;
	background-image: url(../images/goovepaper.png);
}

.wrapper{
	width:90%;
	margin:0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

#header-container{ 
	border-bottom: 6px solid rgb(241, 101, 41);
	margin-bottom: 6px;
}
#last-container{ 
	border-top: 6px solid rgb(241, 101, 41);
	margin-top: 6px;
}
#main article aside{
	border-top:  2px solid rgba(241, 101, 41, .7);
	border-bottom:  2px solid rgba(241, 101, 41, .7);
}

#teaser-container,
#footer-container  {
	background-color: #3C3C3C;
	background-image: url(../images/darkdenim3.png);
}

#header-container header {
	position: relative;
}

#main article aside{
	background-color: #fff;
	background-image: url(../images/white_plaster.png);
}

#header-container header #title a {
	text-decoration: none;
	color: black;
}
#title{ color: black; }
#title strong,
#title small { color: rgba(241, 101, 41, 1) }

::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection      { background: #f16529; color: #fff; text-shadow: none; }

/* ==============
    MOBILE: Menu
   ============== */

nav a{
	display:inline;
	float: left;
	margin-bottom:8px;
	margin-right: 8px;
	padding:2px;

	color: black;

	text-align:center;
	text-decoration:none;
	font-weight:bold;
}

nav a:hover, nav a:visited{
	color: black;
}

nav a:hover{
	text-decoration:underline;
}

/* ==============
    MOBILE: Main
   ============== */

#main{
	padding:30px 0;
}

#main article h1{
	font-size:2em;
}

#main article aside{
	color: #000;
	padding:0px 5% 10px;
}

#main article figure{
	margin: 10px auto;
	width: 200px;
	border: 1px solid rgba(0,0,0,.2);
	background-color: #fff;
}
#main article figure img {
	width: 180px;
	margin: 10px 10px 0px 10px;
}
#main article figure figcaption {
	padding: 0 10px 10px 10px;
	font-size: .8em;
	line-height: .8em;
}
#main article header p {
	font-weight: bold;
}
#main article footer p {
	font-size: .8em;
	line-height: .8em;
}

#main section .more a {
	padding: 6px 10px;
	text-decoration: none;
	background-color: rgba(0,0,0,.1);
	border-radius: 10px;
	color: rgb(241, 101, 41);
} 
#main section .more a:hover {
	text-shadow: black 1px 1px 0px;
}

#teaser-container header,
#footer-container footer{
	color:white;
	padding:20px 0;
}
#teaser-container {
	font-size: 1.5em;
	line-height: 1.5em;
}
#teaser-container header #contactme {
	color: rgb(241, 101, 41);
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }



/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	
	nav a{
		float:left;
		width:18%;
		margin:0 2%;
		padding:2px 2%;
		margin-bottom:0;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }
	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li{
		display:inline;
	}	
	.oldie nav a{
		margin:0 0.7%;		
	}
}

@media only screen and (min-width: 850px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

	#main article aside{
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}

/* ============
    WIDE: Menu
   ============ */
	
	#title{
		float:left;
		font-size: 2em;
		padding: 24px 0px;
	}
	#title small { font-size: 0.5em; }

	nav{
		position:absolute;
		top: 0px;
		right: 0px;
		width:470px;
	}
	
	nav a,
	nav a:visited{
		text-decoration: none;
		background: none;
		color: black;
		float:left;
		width:110px;
		margin:0 0 0 10px;
		padding:2px 0;
		margin-top: 23px;
	}
	nav a:hover {
		text-decoration: none;
		background-color: rgba(0,0,0,.1);
		border-radius: 10px;
		color: rgb(241, 101, 41);
		text-shadow: black 1px 1px 0px;
	}

/* ============
    WIDE: Main
   ============ */

	#main article header,
	#main article section,
	#main article footer {
		float:left;
		width:57%;
	}
	
	#main article section.full {
		width: 100%;
	}
		
	#main article aside{
		float:right;
		width:28%;
		margin-bottom: 26px;
	}
	#main article figure {
		float: right;
		margin-right: 50px;
		box-shadow: rgba(0,0,0,.2) 2px 2px 5px;
		-moz-transform: rotate(4deg);
		-webkit-transform: rotate(4deg);
		-o-transform: rotate(4deg);
		-ms-transform: rotate(4deg);
		transform: rotate(4deg);
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

	.wrapper{
		width:1026px; /* 1140px - 10% for margins */
		margin:0 auto;
	}
}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
