!!! 5
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7]    <html class="no-js ie7 oldie" lang="en">
/[if IE 8]    <html class="no-js ie8 oldie" lang="en">
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
	%meta(charset="utf-8")
	%link(rel="dns-prefetch" href="//ajax.googleapis.com")
	%link(rel="dns-prefetch" href="//fonts.googleapis.com")
	%link(rel="dns-prefetch" href="//themes.googleusercontent.com")
	%link(rel="dns-prefetch" href="//google-analytics.com")

	%meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	%meta(name="generator" content="nanoc 4.7.13")

	%title MathiasKarstädt.de - #{@item[:title]}
	%meta(name="description" content="#{@item[:description]}")
	%meta(name="author" content="#{@item[:author]}")

	%meta(name="viewport" content="width=device-width,initial-scale=1")

	%link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css')
	%link(rel="stylesheet" type="text/css" href="/styles/style.css" media="screen")

	%script(src="/js/libs/modernizr-2.0.6.min.js")
%body
	#header-container
		%header(class="wrapper clearfix")
			#title<
				%a(href="/")
					%strong<> Mathias
					%span<> Karstädt
				%small<> freiberuflicher IT-Consultant
			%nav
				%ul
					%li
						%a(href="/pages/angebot.html") Angebot
					%li
						%a(href="/pages/portfolio.html") Portfolio
					%li
						%a(href="/pages/kontakt.html") Kontakt
					%li
						%a(href="/pages/impressum.html") Impressum
	= yield 

	#footer-container
		%footer(class="wrapper clearfix")
			.left
				%h3 Navigation
				%nav
					%ul
						%li
							%a(href="/") Startseite
						%li 
							%a(href="/pages/angebot.html") Angebot
						%li 
							%a(href="/pages/portfolio.html") Portfolio
						%li 
							%a(href="/pages/about.html") Über mich
						%li 
							%a(href="/pages/kontakt.html") Kontakt
						%li 
							%a(href="/pages/impressum.html") Impressum
			.middle
				%h3 Hier findet man mich
				%nav
					%ul
						%li
							%a(href="http://www.facebook.com/webmatze") Facebook
						%li
							%a(href="http://www.linkedin.com/pub/mathias-karst%C3%A4dt/26/a3b/41a") Linked In
						%li
							%a(href="https://www.xing.com/profile/Mathias_Karstaedt") Xing
						%li
							%a(href="http://github.com/webmatze") Github

			.right
				%h3 Kontakt
				%address(class="vcard")
					%div(class="fn") Mathias Karstädt
					%div(class="adr")
						%span(class="street-address") Johann-Mohr-Weg 20a
						%br
						%span(class="postal-code") 22763
						%span(class="locality") Hamburg
					%div
						%br
					%div
						%span(class="mail")
							%a(href="mailto:mathias.karstaedt@gmail.com") mathias.karstaedt@gmail.com
						%br
						%span(class="tel") +49 (0)170 166 78 79

				
	#last-container
		%footer(class="wrapper") 
			%p Copyright &copy; 2012-2017 by Mathias Karstädt. All rights reserved.

	%script
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-28216124-1']);
		_gaq.push(['_setDomainName', 'mathiaskarstaedt.de']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	/[if lt IE 7 ]
		%script(src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js")
		%script window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})

</html>
