#teaser-container
	%header(class='wrapper')
		#introduction
			Ruby on Rails | Web- und Anwendungsdesign | Front- und Backend Entwicklung
		#contactme
			Sie brauchen Hilfe bei Ihrem Projekt? Rufen Sie mich an: 0170 166 78 79
#main-container
	#main(class="wrapper clearfix")
		= yield
