--- 
title: Impressum
author: Mathias Karstädt
description: Impressum und Datenschutzerklärung
---

%article
	%section
		%h1 Impressum
		%p Herausgeber und inhaltlich Verantwortlicher:
		%p
			%address(class="vcard")
				%p(class="fn")
					%strong Mathias Karstädt
				%p(class="adr")
					%span(class="street-address") Johann-Mohr-Weg 20a
					%br
					%span(class="postal-code") 22763
					%span(class="locality") Hamburg
				%p(class="mail")
					%a(href="mailto:mathias.karstaedt@gmail.com") mathias.karstaedt@gmail.com
				%p(class="tel") +49 (0)170 166 78 79
	%aside
		%br
		%img(src="http://maps.google.com/maps/api/staticmap?center=Friedensallee 105 Hamburg&zoom=15&size=287x300&maptype=&sensor=false&markers=color:red|53.557460,9.915420" width="287" height="300")
		%br
		%small
			%a( href="https://maps.google.de/maps?q=Friedensallee+105,+Hamburg&hl=de&ll=53.557461,9.915424&spn=0.001781,0.004801&sll=51.151786,10.415039&sspn=7.706418,19.665527&oq=friedensal&t=h&hnear=Friedensallee+105,+22763+Hamburg&z=18&iwloc=A") Größere Kartenansicht
	%section
		%h2 Netzkontakte
		%ul
			%li 
				Twitter:
				%a(href="http://twitter.com/webmatze") @webmatze
			%li 
				Skype: webmatze
	%section
		%h2 Steuer
		%p 
			Finanzamt Hamburg Altona
			%br
			Steuernummer: 41/114/00569
			%br
			USt-ID: DE281167436
				
