--- 
title: Portfolio
author: Mathias Karstädt
description: Hier finden Sie eine Zusammenfassung meiner bisherigen Arbeiten
---

%article.portfolio
	%header
		%h1 Portfolio
		%p Hier finden Sie eine Auswahl an Projekten die ich umgesetzt habe oder an denen ich mitwirken durfte.
	%section
		%figure
			%img(src="/images/portfolio/mathiaskarstaedt/startseite.png")>
			%figcaption mathiaskarstaedt.de - Startseite
	%aside
		%h2 MathiasKarstädt.de
		%p 
			%strong Januar 2012 | Ruby, HTML5, CSS3
		%p Dies ist die Homepage für mein Freelancer Gewerbe. Die Seite wurde Anfang 2012 konzipiert und umgesetzt. Oberstes Ziel war es, dass die Seite sowohl auf dem Desktop, als auch auf mobilen Geräten wie z.B. dem iPhone oder iPad gleichermaßen betrachtbar sein sollte, ohne für jedes Gerät eine extra Version bereitzustellen. Dazu habe ich ganz auf die Prinzipien des 'Responsive Webdesign' gesetzt und aktuelle Techniken wie HTML5 und CSS3 eingesetzt.
		%p
			%strong Technologien:
			Die Seite wurde mit Ruby, SASS und HAML in nanoc erstsellt, einem Ruby Framework mit dem sich statische Webseiten erstellen lassen.

	%section
		%figure
			%img(src="/images/portfolio/eventicus/startseite.png")>
			%figcaption eventicus.de - Startseite
	%aside
		%h2 eventicus.de
		%p 
			%strong Juni 2006 | Ruby on Rails, MySQL, AJAX
		%p Diese Social Event Community ist ein persönliches Projekt und wurde von Grund auf von mir konzipiert und umgesetzt. Ziel war es, eine einfache Plattform zu entwickeln, die es jedem kostenlos ermöglichen soll, eigene Veranstaltungen einzutragen und einem größerem Publikum zugänglich zu machen.
		%p
			%strong Technologien:
			Die Seite wurde mit Ruby on Rails erstellt und verwendet Technologien wie MySQL, Prototype.js, AJAX oder die Facebook API.
			
		